.headerContainer {
  font-family: var(--heading-font);
  margin-bottom: 0.75rem;
  border-bottom: 1px solid var(--silver);
  padding-bottom: 0.25rem;
}

.mainHeader {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: var(--pixel-font);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 1rem;
  color: var(--darkgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articleContributorLink {
  display: flex;
  align-items: center;
  color: var(--seagreen);
}

.linkWrapper {
  display: flex;
  align-items: center;
}

.contributorName {
  margin-bottom: 0;
  margin-left: 0.25rem;
}

.content {
  font-family: var(--article-font);
  line-height: 1.75rem;
  color: var(--coolgray);
  font-feature-settings: "lnum";
}

.content *::selection {
  background: var(--brightyellow);
}

.content a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0.1rem;
  border-bottom: 2px solid var(--yellow);
  background-image: linear-gradient(
    120deg,
    var(--yellow) 0%,
    var(--yellow) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
  transition: background-size 0.2s ease-in, border-width 0.05s ease-in 0.15s;
  line-height: 1.25rem;
}

.content a:hover {
  border-bottom: none;
  background-size: 100% 100%;
  padding: 0.2rem 0.1rem;
}

.content h6 a {
  word-break: break-all;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.rssIcon {
  text-decoration: none;
  height: 1.75rem;
  width: auto;
  cursor: pointer;
  color: var(--cadmiumorange);
  margin-left: 0.5rem;
}

.rssIcon:hover {
  color: var(--orange);
}

@media (max-width: 900px) {
  .mainHeader {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .date {
    font-size: 0.9rem;
    flex-direction: column;
    align-items: flex-start;
  }
}
