.headerContainer {
  font-family: var(--heading-font);
  margin-bottom: 0.75rem;
  border-bottom: 1px solid var(--silver);
  padding-bottom: 0.25rem;
}

.mainHeader {
  font-size: 1.5rem;
  font-weight: bold;
}

.date {
  font-size: 0.8rem;
  color: var(--darkgray);
}

.content {
  font-family: var(--article-font);
  line-height: 1.75rem;
}

.content a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0.1rem;
  border-bottom: 2px solid var(--yellow);
  background-image: linear-gradient(
    120deg,
    var(--yellow) 0%,
    var(--yellow) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
  transition: background-size 0.2s ease-in;
}

.content a:hover {
  border-color: var(--yellow);
  color: var(--black);
  background-size: 100% 100%;
  opacity: 90%;
}
