.aboutContainer {
  display: flex;
  align-items: center;
  min-height: 70vh;
}

.aboutWrapper {
  width: 800px;
  background-color: white;
  padding: 3rem;
  min-height: 90vh;
}

.greeting {
  font-size: 2rem;
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  padding-bottom: 1rem;
}

.query {
  font-family: var(--regular-font);
}

.queryWrapper {
  display: flex;
  margin-top: 1rem;
}

.timeLink {
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  background-color: var(--lightcloudgray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 0.85rem;
}

.icon {
  height: 1.25rem;
  width: auto;
  margin: 0;
  margin-right: 0.5rem;
  filter: brightness(0) saturate(100%) invert(30%) sepia(17%) saturate(752%)
    hue-rotate(168deg) brightness(91%) contrast(92%);
}

.aboutMe {
  font-size: 0.85rem;
  line-height: 1.75rem;
  padding-top: 2rem;
  font-family: var(--regular-font);
}

.highlight {
  color: white;
  padding: 0.15rem 0.35rem;
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap;
  font-family: "Roboto Mono", monospace;
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.crimson {
  background-color: var(--crimson);
}

.green {
  background-color: var(--limegreen);
}

.blue {
  background-color: var(--cornflowerblue);
}

.purple {
  background-color: var(--darkviolet);
}

.pink {
  background-color: var(--deeppink);
}

@media (max-width: 1200px) {
  .aboutWrapper {
    width: 100%;
    padding: 3rem;
    min-height: 80vh;
    margin-top: 0;
  }

  .aboutContainer {
    min-height: 80vh;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .aboutMe,
  .timeLink {
    font-size: 0.8rem;
  }

  .icon {
    height: 1rem;
    width: auto;
    margin-right: 0.25rem;
  }

  .aboutWrapper {
    padding: 2rem 1rem;
  }
}
