.aboutContainer {
  display: flex;
  align-items: center;
  height: 70vh;
}

.aboutWrapper {
  width: 800px;
  background-color: white;
  padding: 3rem;
  height: 80vh;
  margin-top: 2rem;
}

.greeting {
  font-size: 2rem;
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  padding-bottom: 1rem;
}

.timeLink {
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  background-color: var(--lightcloudgray);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.icon {
  height: 2rem;
  width: auto;
  margin: 0;
  color: var(--purple);
}

.aboutMe {
  line-height: 1.25rem;
  padding-top: 2rem;
}
