.blogContainer {
  display: flex;
  align-items: flex-start;
  min-height: 70vh;
}

.blogWrapper {
  width: 800px;
  background-color: white;
  padding: 3rem;
  min-height: 90vh;
}

.sidebar {
  width: 300px;
  background-color: white;
  padding: 1rem;
  margin-left: 1.5rem;
}

.tagContainer {
  display: flex;
  align-items: center;
}
.tagContainer > * {
  margin-bottom: 0;
}

.tag {
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--cornflowerblue);
  margin-bottom: 0.5rem;
}

.yellow {
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--yellow);
  margin-bottom: 0.5rem;
}

.orange {
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--orange);
  margin-bottom: 0.5rem;
}

.crimson {
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--crimson);
  margin-bottom: 0.5rem;
}

.green {
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--limegreen);
  margin-bottom: 0.5rem;
}

.icon {
  height: 1.25rem;
  width: auto;
  margin: 0;
  margin-right: 0.5rem;
  filter: brightness(0) saturate(100%) invert(30%) sepia(17%) saturate(752%)
    hue-rotate(168deg) brightness(91%) contrast(92%);
}

// sidebar styling

.searchWrapper {
  position: relative;
  display: flex;
  min-width: 120px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.search-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 12px;
  cursor: pointer;
}

.invisible {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
}

.search {
  border: 1px solid var(--darkcloudgray);
  border-radius: 15px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: var(--snow);
}

.search:hover,
.search:focus {
  border: 1.5px solid var(--yellow);
}

// Side bar tags styling

.tagSideContainer {
  display: flex;
  flex-direction: column;
}

.tagSideWrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .blogContainer {
    min-height: 70vh;
    flex-direction: column;
  }

  .blogContainer > .sidebar {
    order: -1;
    width: 100%;
    padding: 1rem;
    height: 20vh;
    margin: 0;
  }

  .blogWrapper {
    width: 100%;
    padding: 3rem;
    min-height: 90vh;
    margin-top: 1rem;
  }
}
