.galleryContainer {
  display: flex;
  align-items: center;
  min-height: 70vh;
}

.galleryWrapper {
  width: 1200px;
  background-color: white;
  padding: 3rem;
  min-height: 70vh;
  border-radius: 20px;
}

.gridContainer {
  width: 100%;
  min-height: 36vh;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gridContainer .card {
  width: 48%;
}

.card {
  min-height: 35vh;
  display: flex;
  margin: 0.5rem 0;
}

.disclaimerText {
  font-size: 0.8rem;
  color: var(--darkgray);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--silver);
}

.navbar {
  display: flex;
  padding: 0.5rem 0.5rem 0 0;
}

.navbarLink {
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border: none;
  background: none;
}

.activeLink {
  border: 1px solid var(--silver);
  border-radius: 5px;
  background: var(--snow);
  outline: solid 1px var(--silver);
  outline-offset: -4px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1680px) {
  .galleryWrapper {
    width: 900px;
  }
}

@media (max-width: 1200px) {
  .galleryWrapper {
    width: 100%;
    padding: 3rem;
    min-height: 80vh;
    margin-top: 0;
  }

  .galleryContainer {
    min-height: 80vh;
    flex-direction: column;
  }

  .gridContainer {
    padding-top: 0;
  }

  .gridContainer .card {
    width: 100%;
  }

  .card {
    min-height: 40vh;
  }

  .heading {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .heading {
    font-size: 1.75rem;
  }
  .headingContainer {
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 600px) {
  .galleryWrapper {
    padding: 2rem 1rem;
  }

  .cardSummary,
  .cardWrapper {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }

  .cardTitle {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
  }

  .card {
    min-height: 34vh;
  }

  .heading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .disclaimerText {
    font-size: 0.7rem;
  }

  .gridContainer {
    padding-top: 0.5rem;
  }
}

@media (max-width: 300px) {
  .cardSummary,
  .cardWrapper {
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
  }

  .cardTitle {
    font-size: 0.9rem;
  }
}
