.blogContainer {
  display: flex;
  align-items: flex-start;
  min-height: 70vh;
}

.blogWrapper {
  width: 1200px;
  background-color: white;
  padding: 2.5rem;
  min-height: 90vh;
  border-radius: 20px;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.rssIcon {
  text-decoration: none;
  height: 1.75rem;
  width: auto;
  cursor: pointer;
  color: var(--cadmiumorange);
  margin-left: 0.5rem;
}

.rssIcon:hover {
  color: var(--orange);
}

.mainHeading {
  margin: 0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.disclaimerText {
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--darkgray);
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--darkcloudgray);
}

.sidebar {
  width: 300px;
  background-color: white;
  padding: 1rem;
  margin-left: 1.5rem;
  min-height: 50vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 5px;
}

.tagAndContributorContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.summaryContainer {
  font-family: var(--article-font), "sans-serif";
  font-size: 0.9rem;
  margin: 1rem 0 1.5rem 0;
  color: var(--coolgray);
  font-feature-settings: "lnum";
}

.bookmarkIcon {
  height: 1.5rem;
  width: auto;
  margin-right: 0.25rem;
  color: var(--coolgray);
}

.tagSideWrapper > .tag {
  padding: 0.25rem 0.4rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  color: var(--snow);
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}

.tagWrapper > .tag {
  padding: 0.25rem 0.4rem;
  margin-right: 0.25rem;
  margin-bottom: 0;
  color: var(--snow);
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  cursor: default;
  opacity: 65%;
  white-space: nowrap;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.springgreen {
  background-color: var(--springgreen);
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.crimson {
  background-color: var(--crimson);
}

.green {
  background-color: var(--limegreen);
}

.grassgreen {
  background-color: var(--grassgreen);
}

.palepink {
  background-color: var(--palepink);
}

.candypink {
  background-color: var(--candypink);
}

.blue {
  background-color: var(--cornflowerblue);
}

.indigo {
  background-color: var(--indigo);
}

.purple {
  background-color: var(--darkviolet);
}

.pink {
  background-color: var(--deeppink);
}

.salmon {
  background-color: var(--salmon);
}

.seagreen {
  background-color: var(--seagreen);
}

.lightpurple {
  background-color: var(--purple);
}

.cadmiumorange {
  background-color: var(--cadmiumorange);
}

.aeroblue {
  background-color: var(--aeroblue);
}

.mediumpurple {
  background-color: var(--mediumpurple);
}

.indianred {
  background-color: var(--indianred);
}

.icon {
  height: 1.25rem;
  width: auto;
  margin: 0;
  margin-right: 0.5rem;
  filter: brightness(0) saturate(100%) invert(30%) sepia(17%) saturate(752%)
    hue-rotate(168deg) brightness(91%) contrast(92%);
}

.articleList {
  list-style: none;
  margin-left: 0;
}

.article {
  margin-bottom: 1.5rem;
  background-color: var(--dirtysnow);
  padding: 2rem 1rem 1rem 2rem;
  border-left: 3px solid var(--darkcloudgray);
}

.articleTitleAndDateWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.articleTitle {
  font-family: var(--heading-font);
  font-size: 1.25rem;
  color: var(--coolgray);
}

.articleDate {
  font-size: 0.8rem;
  white-space: nowrap;
  color: var(--darkgray);
  padding-top: 0.35rem;
}

// sidebar styling

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 120px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.searchIcon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 1rem;
  color: var(--coolgray);
}

.clearIcon {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 1.2rem;
  cursor: pointer;
  color: var(--coolgray);
}

.invisible {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
}

.search {
  border: 1px solid var(--darkcloudgray);
  border-radius: 15px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: var(--snow);
}

.search:hover,
.search:focus {
  border: 1.5px solid var(--yellow);
}

// Sidebar tags styling

hr {
  border: 0;
  background: var(--darkgray);
  margin-bottom: 1rem;
}

.heading {
  font-family: var(--heading-font);
  font-size: 1.1rem;
}

.tagSideContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.tagSideWrapper {
  display: flex;
  flex-wrap: wrap;
}

// reset button styling

.resetContainer {
  display: flex;
  margin-top: 0.5rem;
  padding: 0.5rem;
  padding-left: 0;
  align-items: center;
  cursor: pointer;
}

.chevronIcon {
  height: 1rem;
  width: auto;
  margin-bottom: 0;
  color: var(--coolgray);
}

.resetText {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0;
  color: var(--darkgray);
}

// date container styling

.dateContainer {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.dateContainerSidebar {
  margin-top: 1.5rem;
}

.dateIcon {
  width: 1rem;
  height: auto;
  margin-right: 0.2rem;
  margin-bottom: 0.1rem;
}

.year {
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 0.75rem;
  cursor: pointer;
  padding: 0.4rem;
  border: 1px solid var(--darkgray);
  color: var(--darkgray);
  background-color: var(--dirtysnow);
  border-radius: 5px;
}

// Contributor related styling

.contributorContainer {
  display: flex;
  align-items: center;
  font-family: var(--article-font), "sans-serif";
  font-size: 0.85rem;
  padding: 0.1rem 0.25rem;
  border: 1px solid var(--lightgray);
  background-color: var(--snow);
  border-radius: 5px;
}

.contributorContainer > * {
  margin-right: 0.25rem;
}

.contributorIcon {
  width: 1rem;
  height: auto;
  color: var(--orange);
}

.contributorAvatar {
  border-radius: 20px;
  height: 1.5rem;
  margin-bottom: 0;
}

.contributorLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contributorHeading {
  font-family: var(--heading-font);
  margin-bottom: 0;
}

@media (max-width: 1680px) {
  .blogWrapper {
    width: 800px;
  }
}

@media (max-width: 1200px) {
  .blogContainer {
    min-height: 70vh;
    flex-direction: column;
  }

  .sidebar {
    order: -1;
    width: 100%;
    padding: 1rem;
    min-height: 23vh;
    margin: 0;
  }

  .blogWrapper {
    width: 100%;
    padding: 2rem;
    min-height: 90vh;
    margin-top: 1rem;
  }

  .dateContainerSidebar {
    margin-top: 1rem;
  }
  .mainHeading {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .blogWrapper {
    padding: 1.5rem;
  }
  .mainHeading {
    font-size: 1.75rem;
  }
  .headingContainer {
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 600px) {
  .articleTitleAndDateWrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .article {
    margin-bottom: 1.5rem;
    background-color: var(--dirtysnow);
    padding: 0.85rem 0.5rem 0.5rem 0.75rem;
    border-left: 3px solid var(--darkcloudgray);
  }

  .articleTitle {
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--darkcloudgray);
    font-size: 1rem;
  }

  .articleDate {
    font-size: 0.7rem;
  }

  .summaryContainer {
    font-size: 0.8rem;
    margin: 1rem 0;
  }

  .heading {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  .search {
    font-size: 0.9rem;
  }

  .mainHeading {
    font-size: 1.5rem;
  }

  .contributorContainer {
    font-size: 0.75rem;
    border: none;
    padding: 0;
    background-color: inherit;
    margin-top: 0.25rem;
  }

  .contributorAvatar {
    height: 1.3rem;
  }

  .tagAndContributorContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 330px) {
  .blogWrapper {
    padding: 0;
  }

  .article {
    margin-bottom: 1rem;
    border-left: 1px solid var(--darkcloudgray);
  }

  .sidebar {
    padding: 0.5rem;
    min-height: 45vh;
  }

  .dateContainer {
    margin: 1rem 0;
  }
}
