$black: #202020;
$pink: deeppink;
$lightgray: #cedeec;
$purple: #ae9fe0;
$palepink: #eb89a5;

body {
  font-family: "Muli", "sans-serif";
  color: $black;
}

.container {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  height: 100vh;
}

.navWrapper {
  max-width: 400px;
  height: 100vh;
  padding: 1rem;
}

.contentWrapper {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}
