.container {
  display: flex;
}

.nav {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.contentWrapper {
  margin-left: 300px;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dirtysnow);
  position: relative;
}

.content {
  padding: 2rem;
  padding-bottom: 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
}

.img {
  margin: 2rem 0;
  height: 13rem;
  width: auto;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .content {
    padding: 2rem;
  }

  .img {
    margin: 1.75rem 0;
    height: 11rem;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .contentWrapper {
    min-height: auto;
    margin-left: 0;
  }

  .nav {
    width: 100%;
    height: 40vh;
    position: relative;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 1rem 0;
  }

  .img {
    margin: 1.5rem 0;
    height: 10rem;
  }
}
