.container {
  display: flex;
  height: 100vh;
}

.navWrapper {
  width: 400px;
  max-height: 100vh;
}

.contentWrapper {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--snow);
}

.content {
  flex-grow: 1;
  padding: 3rem 2rem;
}

@media (max-width: 1200px) {
  .content {
    flex-grow: 1;
    padding: 2rem;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .navWrapper {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 600px) {
  .content {
    flex-grow: 1;
    padding: 2rem 1rem;
  }
}
