.container {
  display: flex;
}

.navWrapper {
  width: 350px;
  max-height: 100vh;
}

.contentWrapper {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dirtysnow);
  position: relative;
}

.content {
  padding: 2rem;
  padding-bottom: 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
}

.img {
  margin: 2rem 0;
  height: 13rem;
  width: auto;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .content {
    padding: 2rem;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .contentWrapper {
    min-height: auto;
  }

  .navWrapper {
    width: 100%;
    min-height: 40vh;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 1rem 0;
  }
}
