.heading {
  font-family: "ovo";
  text-decoration: none;
  color: #222;
}

.navlink-container {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
}

.nav-link:hover {
  color: var(--purple);
}

.active-nav-link {
  color: var(--pink);
}

.aboutMe {
  font-family: "Muli";
  font-size: 0.9rem;
  line-height: 1.25rem;
}
